<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Create a New Post</h1>
    <form method="POST" action="/post">
      <p>Title:</p>
      <input type="text" name="title" required />
      <p>Content:</p>
      <textarea name="message" rows="4" required></textarea>
      <input type="submit" value="Create Post" />
    </form>
  </body>
</html>
