<a href="/logout">Logout</a>
<a href="/post"> Create new post </a>
  <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
  <h2><%= message.creator %></h2>
  <p><%= message.title%></p>
  <p><%= message.message %></p>
  <% }) %> <% } else { %>
  <p>No messages yet.</p>

  <% } %>
</a>
