<a href="/login"> To view posts or create your own! </a> <br>
<a href="/register"> Sign up if you haven't already! </a> <br>

<a href="/login">Login</a>
  <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
  <p><%= message.title%></p>
  <p><%= message.message %></p>
  <% }) %> <% } else { %>
  <p>No messages yet.</p>

  <% } %>
</a>

