<form method="post" action="register">
  <p>Enter Username:</p>
  <input type="text" name="username" />
  <p>Enter Password:</p>
  <input type="text" name="password" />
  <p>Admin?</p>
  <input type="checkbox" name="membership" />
  <input type="submit" />
</form>
